FORMAT: 1A
HOST: https://api.neteller.com/v1

# Integrating the NETELLER REST API

The NETELLER REST API is comprehensive api that allows you to securely manage and facilitate your online payment needs.
The _**RESTful API**_ ([REpresentational State Transfer](http://en.wikipedia.org/wiki/Representational_state_transfer)) 
provides predictable, resource based URI's that removes the complexity that often comes with implementing
traditional SOAP or XML driven APIs.
<br/><br/>
This API leverages _**OAUTH2**_ as a token based authorization framework and works with JSON request and 
response object notation.

> The cURL samples included in this documentation are for reference purposes only. Substitute your own 
> values as appropriate. You can also refer to the [online cURL documentation](http://curl.haxx.se/docs/manpage.html) 
> for additional information on how to use cURL. <br/>
> <br/>
> The following flags are optional and may be useful during testing:<br/>
> <br/>
> `-k : (SSL) This option explicitly allows curl to perform "insecure" SSL connections and transfers.` 
>      `All SSL connections are attempted to be made secure by using the CA certificate bundle `
>      `installed by default. This makes all connections considered "insecure" fail unless -k, `
>      `--insecure is used. THIS SHOULD NEVER BE USED IN A PRODUCTION IMPLEMENTATION!`
>      `Note that if you only want HTTP headers in the output, -i, --include might be the option you're looking for.`
> <br/>
> <br/>
> `-v : Makes the fetching more verbose/talkative. Mostly useful for debugging. A line starting with '>' means` 
>      `"header data" sent by curl, '<' means "header data" received by curl that is hidden in normal cases, and a`
>      `line starting with '*' means additional info provided by curl.`

***

# Release Notes

> Please see the section on Versioning to find out how to verify which Minor Version of the API you are using.  You 
> can choose to upgrade to a newer version at anytime through API Settings of your merchant dashboard.

API Version|Minor Version    |Patch / Description
---        |---              |---
**v1**     |**2015-04-28**   |**_2016-01-24_**
           |                 |- Added new scope for account\_basic\_profile and updated the accountProfile object to restrict values returned
           |                 |- Added new customer verify endpoint
           |                 |- Added new payment list endpoint
           |                 |- Updated paymentMethod to make NETELLER optional
           |                 |**_2015-11-24_**
           |                 |- Added transactionType to the the transaction object
           |                 |**_2015-10-20_**
           |                 |- Added payment method for NETELLERgo! \(paysafecard\)
           |                 |- Removed deprecated payment method for NETELLERgo! \(ukash\)
           |                 |- Added new currency: Emirati Dirham \(AED\)
           |                 |**_2015-09-15_**
           |                 |- Added payment methods for NETELLERgo! \(qiwi, yandex, webmoney\)
           |                 |- Added F/X support for orders presented in different currencies
           |                 |- Added support for one-step payments in NETELLERgo!
           |                 |**_2015-08-11_**
           |                 |- Added payment method for NETELLERgo! \(boku\)
           |                 |**_2015-07-07_**                  
           |                 |- Added ability to lookup all subscriptions for a customer
           |                 |- Added new currencies: South African Rand \(ZAR\), Brazilian Real \(BRL\)
           |                 |**_2015-06-02_**                 
           |                 |- Added payment method for NETELLERgo! \(bitcoin\)
           |                 |- Added pending status to NETELLERgo! and support for on_pending redirect
           |                 |**_2015-04-28_**                                   
           |                 |- Added status to order resource
           |                 |- Added billingDetail resource
           |                 |- Updated create order to take an optional array of billingDetail instead of payerProfile
           |                 |- Updated lookup payment to return optional billingDetail if payment is made as a guest and not a NETELLER member
           |                 |- Added invoiceId to invoice resource
           |                 |- Replace customer reference in subscription/order invoice lookup with billingDetail
           |                 |- Add HATEOAS link for corresponding customer detail for invoice lookup if they authenticated to NETELLER to pay
           |                 |- Create subscription requires a customer id now instead of profile \(The customer id is obtained using the authorization flow\)
           |                 |- Added error codes: 20009, 20301
**v1**     |**2015-11-04**   |- **_2015-03-24_**
           |                 |- Added additional webhooks for orders, payments
           |                 |- Added payment methods for NETELLERgo! \(bradesco, bancodobrasil, itau, webpay\)
           |                 |- Enhanced OAUTH authorization flow to return customer id for an authorization
           |                 |- Added new currencies: Nigerian Naira \(NGN\), Taiwan New Dollar \(TWD\)
           |                 |- **_2015-02-10_**
           |                 |- Added payment methods for NETELLERgo! \(ideal\)
           |                 |- Added multifactor authentication support to OAUTH / NETELLERgo! flows
           |                 |- Added payment HATEOAS link to invoice resources
           |                 |- Set subscription start times to 00:00:00 and end times to 23:59:59
           |                 |- Ensure URLs returned from sandbox properly refer to sandbox host server
           |                 |- Removed support for deprecated currencies: Latvian Lats \(LVL\), Lithuanian Litus \(LTL\)
           |                 |- **_2014-12-09_**
           |                 |- Added support for NETELLERgo!
           |                 |- Added payment methods for NETELLERgo! \(sofort, poli, giropay, ukash\)
           |                 |- Added order, paymentMethod, redirect resources
           |                 |- Modified invoice resource to support order invoices
           |                 |- Added order lookup
           |                 |- Added lookup invoice for an order
           |                 |- Added error codes: 20016
           |                 |- **_2014-11-04_**
           |                 |- Renamed account resource to customer
           |                 |- Updated customer lookup to new resource uris \(/v1/account -> /v1/customer\)
           |                 |- Removed linkbackurl from accountProfile resource and moved to root of create customer request
           |                 |- Return customer resource instead of accountProfile on payment, subscriptions, invoices resources
           |                 |- Renamed subscriptionPlan resource to plan
           |                 |- Renamed invoice amountDue to totalAmount
           |                 |- Lists no longer contain un-necessary object wrapper, rather returns a list of the appropriate object.
**v1**     |**2014-04-15**   |- **_2014-09-30_**
           |                 |- Added API minor version support
           |                 |- **_2014-09-03_**
           |                 |- Added OAUTH2 authorization grant
           |                 |- Added account, balance resources
           |                 |- Added account lookup functionality
           |                 |- Added new scopes: subscription\_payment, account\_enhanced\_profile, account\_contacts, account\_balance
           |                 |- Modified create subscription to require scope: subscription_payment
           |                 |- **_2014-07-22_**
           |                 |- Added Quick Signup functionality
           |                 |- **_2014-06-17_**
           |                 |- Added ability to list subscription invoices and subscription plans
           |                 |- Added subscription invoice lookup
           |                 |- Added subscription webhooks
           |                 |- Added error codes: 20050
           |                 |- Added new languages Greek \(el\_GR\), Korean \(ko\_KR\)
           |                 |- Added new subscription status: pending
           |                 |- **_2014-05-21_**
           |                 |- Added ability to list invoices for a subscription
           |                 |- Added support for resource expansion
           |                 |- Added new currencies: Malaysian Riggit \(MYR\), Moroccan Dirham \(MAD\), Tunisia Dinar \(TND\) and Swiss Franc \(CHF\)
           |                 |- Added error codes: 20102<
           |                 |- **_2014-04-15_**
           |                 |- Modified authentication to OAUTH2 authentication using client_credentials
           |                 |- Added subscription billing support
           |                 |- Added error codes: 20100, 20101


***

### 2014-11-04 Upgrade Notes

The following page outlines items to review when upgrading your REST API from v1 \(2014-04-15\) to v1 \(2014-11-04\).

> You can trial your upgraded integration with your TEST sandbox account prior to upgrading in production.  Contact NETELLER Merchant Support if you require assistance with your sandbox account.

Upgrade Procedure

1. Modify any calls to /v1/accounts to the new /v1/customers resource
2. If you are looking up profile details using the the former call /v1/accounts/{accountId} this should now change to this format /v1/customers/?accountId={accountId}.
3. To query for a profile using email, the same convention is used but the resource uri should change as follows: /v1/customers/?email={email}.
4. When creating customers (formerly accounts), you now post an accountProfile to the new endpoint /v1/customers and receive a customer object in response.  If linkbackurl was previously supplied as part of the accountProfile,  this has been moved to the root of that request and is no longer part of the accountProfile.
5. Ensure any embedded references to accountProfile information are updated to refer to customer details

### 2015-04-28 Upgrade Notes

The following page outlines items to review when upgrading your REST API from v1 \(2014-11-04\) to v1 \(2015-04-28\).

If you are upgrading directly from v1 \(2014-04-15\), then you should first consider the changes outlined in the the 2014-11-04 Upgrade Notes.

> You can trial your upgraded integration with your TEST sandbox account prior to upgrading in production.  Contact NETELLER Merchant Support if you require assistance with your sandbox account.

Upgrade Procedure

1. Modify create order calls to supply an array of billingDetail instead of payerProfile. Only one billingDetail is permitted at this time.
2. Modify invoice lookups to use billingDetail instead of cusomer resource.
3. If you are using our subscription services, the create subscription now requires the customerId instead of the NETELLER account id OR email.   When you ask your customer for permission to create a subscription through the authorization flow, you will be returned the customerId that provided the authorization.  If you have already received authorization from your customer and do not want to have to have them re-authorize, you can use the customer lookup call to identify the customerId for their account.
4. Payment lookups will now only return a customer object if the payment is related to an account holder.  For NETELLERgo! checkouts that are performed by guests, a billingDetail block will be returned.

***

# Technical introduction

This section provides a technical introduction to the NETELLER REST API. 

## API Endpoints

The NETELLER REST API is available in the sandbox environment for integration testing purposes. To switch between the sandbox and the live production system you only need to change the endpoint URI and the credentials.

The following endpoints form the basis of a resource URI:
* **Sandbox (Testing) endpoint -** 
`https://test.api.neteller.com`
* **Production endpoint -** 
`https://api.neteller.com`

_As the sandbox environment is completely isolated, any changes you perform on your sandbox accounts configuration (such as secure IP registration, APP registration) may have to be repeated in your production account._

***

## Versioning

The first time you make an API request, NETELLER will automatically record the the current API version and associate it with your merchant account. 
<br/><br/>
The API version will influence the request/response object structure as well as the functionality that is available through the API.   A new version of the API will only be introduced if we roll out a backwards incompatible change that may impact your existing integrations.  As your API version can be maintained through the merchant portal, you can manage when to upgrade to the latest version, helping ensure your integration is not disrupted as new functionality becomes available.

> You can update your API version from the merchant dashboard.  This is a manual process.  NETELLER recommends you check back
> periodically to see if new versions are available as there may be key enhancements that have been released that
> would improve your integration.
> ![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/api_version_upgrade.png)

_Outdated minor versions of the API will be supported for 12 months, after which point they may be deprecated and you will be required to upgrade to a newer version._

### Major Version

The major version \(ie: /v1/ \) represents a major technology shift between versions of the API. Changes in the major version are reserved for large scale changes to the API that fundamentally change integration requirements from the previous version.  Modified business domain models, re-design of functional flows or change in API resource patterns are all considered major changes.  Changes to major version are rare and typically require an extended deprecation cycle \(~2 years\) from prior versions to allow all consumers of the API to adapt.

### Minor Version

The minor version is a date stamped version of the API indicating when a backwards incompatible change was released in production.  Only changes that are deemed backwards incompatible will trigger a new minor version.   Other changes that are considered backwards compatible are integrated in the last version and rolled out as patches as soon as they become available.  The minor version is NOT specified as part of the URL request, it is defined as part of your merchant account and can be controlled through your merchant account portal.
<br/><br/>
_When working with the REST API, you should treat any identity fields returned by NETELLER as strings so that in the event we change the structure of the ID, it will not break your integration._
<br/><br/>
**What is considered a backwards compatible change?**

* Adding API resources or adding new properties to existing API resources
* Modification to the order of parameters or JSON object elements
* Adding optional request parameters to API methods
* Adding webhook event types

**What is considered a backwards incompatible change?**

* Removal of a API resource
* Removal of an API Resources object attribute
* Changes to required parameter / JSON object elements
* Removal of previously supported API call

***

## Pagination

REST calls that return multiple resources will wrap the response as a JSON array named 'list'. By default, 10 items will be returned at a time and you can navigate to the next page of data using the returned HATEOAS links.
Any list results will also include a meta data section that will identify the number of records included in the collection,
the number of records per page (limit) and current page number.
<br/><br/>
For example, if a request to look up subscriptions identifies that there are 134 subscriptions and you have set your limit to 15, the first 15 items will be returned with navigation links to the next 15 items in the list \(items 16-30\). If you navigate to the next page using the provided HATEOAS link, you will now retrieve items 16-30 with a new navigation link provided to return to the previous page, as well as a link to continue to the next page of items._

> _You can change the default list page size by defining a **limit** parameter value._

Parameter Name |Description
---            |---
limit          |The number of records to be returned per page. Default = 10, Max = 100
offset         |Identifies your location within the list and allows you to fetch the next set of resources

Sample Response with List Data

```apib
{
    "meta": {
        "numberOfRecords": 77,
        "limit": 10,
        "page": 2
    },
    "list": [
        {
            "planId": "MONTHLYGREENPLAN",
            "planName": "Sample Premier Monthly Membership",
            "interval": 3,
            "intervalType": "monthly",
            "intervalCount": 4,
            "amount": 2995,
            "currency": "EUR",
            "status": "active"
        },
        {
            ...
        },
        {
            ...
        },
        
    ],
    "links": [
        {
            "url": "https://api.neteller.com/v1/plans?sessionid=234243242&limit=10&offset=10",
            "rel": "self",
            "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/plans?sessionid=234243242&limit=10&offset=0",
            "rel": "prev_offset",
            "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/plans?sessionid=234243242&limit=10&offset=20",
            "rel": "next_offset",
            "method": "GET"
        }
    ]
}
```

***

## Resource Expansion

Resource expansion can be compared to eager loading in the database realm. It offers a way to load a specific resource as well as other resources related to it.  You are encouraged to use resource expansion when you know you are going to need the extra information. This will reduce the amount of API calls as well as the amount of traffic to and from your server. You should avoid resource expansion when you want to reduce the amount of information returned or if you are unsure if you will need the additional resource object.
<br/><br/>
By adding an **expand** query parameter to the query you are effectively telling the server to include the details for the reference object in-line, in a expand single response.  Anytime you encounter an object whose only child attribute is a link, you can consider that object expandable. Passing that object name as part of your expand parameter list will automatically substitute the link with the relevant details.
<br/><br/>

For resources that have multiple expandable children, you can specify which resources to expand in a comma separated list. <br />
Eg. <strong>?expand=resource1,resource2</strong>

<br/>

> _Resource expansion does not apply to API requests that return a list._

<br/>
Below is a sample subscription lookup. By default the plan and customer resources are not expanded and instead includes a 
reference link that would provide the relevant details. If you would rather have the full subscription plan object returned, 
then add the **'expand=plan'** parameter to your request and you will see the second example result.
<br/>

*Result without resource expansion*

```apib
{
    "subscriptionId": "234234224",
    "plan": {
        "link": {
            "url": "https://api.neteller.com/v1/plan/MONTHLYGREENPLAN",
            "rel": "plan",
            "method": "GET"
        }
    },
    "customer": {
        "link": {
            "url": "https://api.neteller.com/v1/customers/CUST_0d676b4b-0eb8-4d78-af25-e41ab431e325",
            "rel": "customer",
            "method": "GET"
        }
    },
    "status": "active",
    "startDate": "2014-06-01T00:00:00Z",
    "endDate": "2014-12-31T00:00:00Z",
    "currentPeriodStart": "2014-07-01T00:00:00Z",
    "currentPeriodEnd": "2014-07-31T00:00:00Z",
    "cancelAtPeriodEnd": false,
    "cancelDate": null,
    "lastCompletedPaymentDate": "2014-06-31T00:00:00Z",
    "links": [
        {
            "url": "https: //api.neteller.com/v1/subscriptions/234234224",
            "rel": "self",
            "method": "GET"
        }
    ]
}
```

*Result with the plan resource expanded*

```apib
{
    "subscriptionId": "234234224",
    "plan": {
        "planId": "MONTHLYGREENPLAN",
        "planName": "Sample Premier Monthly Plan",
        "interval": 3,
        "intervalType": "monthly",
        "intervalCount": 4,
        "amount": 2495,
        "currency": "EUR",
        "status": "active"
    },
    "customer": {
        "link": {
            "url": "https://api.neteller.com/v1/customers/CUST_0d676b4b-0eb8-4d78-af25-e41ab431e325",
            "rel": "customer",
            "method": "GET"
        }
    },
    "status": "active",
    "startDate": "2014-06-01T00:00:00Z",
    "endDate": "2014-12-31T00:00:00Z",
    "currentPeriodStart": "2014-07-01T00:00:00Z",
    "currentPeriodEnd": "2014-07-31T00:00:00Z",
    "cancelAtPeriodEnd": false,
    "cancelDate": null,
    "lastCompletedPaymentDate": "2014-06-31T00:00:00Z",
    "links": [
        {
            "url": "https: //api.neteller.com/v1/subscriptions/234234224",
            "rel": "self",
            "method": "GET"
        }
    ]
}
```

***

## OAUTH Authentication

NETELLER REST APIs are based on the OAUTH2 standard as defined by [RFC6749](http://tools.ietf.org/html/rfc6749) and require that you supply a valid OAUTH2 access token with each API request.  

The REST APIs utilize a 'bearer' token. For more information on bearer tokens see: [draft-ietf-oauth-v2-bearer-23.txt](http://tools.ietf.org/id/draft-ietf-oauth-v2-bearer-23.txt)

### Obtain an access token

To access the NETELLER REST APIs, you will require an access token that can be obtained from the NETELLER OAUTH2 
token endpoint.  Obtain an access\_token by making a request to the NETELLER Token endpoint with the appropriate
grant_type identified.

> To obtain access tokens you must first register your client \(pplication\) you wish to integrate with.  APP 
> registration can be completed from your merchant account portal and will provide you with your APP specific 
> client_id and client_secret.  By default, the access token is a short lived one-time use token that expires 
> in 5 minutes.  If your integration requires frequent callbacks and you would like to be able to re-use the 
> access token, or require an extended token expiry time, please contact NETELLER Merchant Support to have your 
> APP settings adjusted accordingly.

The NETELLER Platform supports the following OAuth 2.0 flows

**client_credentials grant** 

Allows you to request an access token using only the client credentials provided to you.  This grant is used to access API functions that are under your control, and that do not require member authorization.
 
**authorization_code grant**

If your API request requires member permission (required scope permissions are identified in the section detailing each API operation), you will be required to use the authorization_code grant flow and will have an additional step of obtaining member authorization before you can obtain an access token.  This flow requires you to redirect your users to the authorization server where they will authenticate as a NETELLER member and approve the requested permissions.  The supplied auth_code can then be exchanged for an access_token allowing you access API functions on the members behalf.  
The client must be capable of interacting with the resource owner's user agent \(typically a web browser\) and capable of receiving incoming requests \(via redirection\) from the authorization server.

> These flows are intended for clients capable of maintaining their client credentials in a confidential manner, such as a client implemented on a secure server \(https\)

**OAUTH2 Workflow Diagram**

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/OAUTH2-Workflow-Diagram.jpg)


#### Obtain an access token using the client_credentials grant type

You can request an access token using only your client credentials \(client\_id:client\_secret\). 

> Your client credentials consist of a unique client_id and client_secret that can be found under the registered APPs section of your NETELLER Merchant Account. 
> The Authorization header should be constructed to pass a base64 encoded version of these values \(client_id:client_secret\).  If you are testing using cURL or a browser client, you can specify the HTTP Basic credentials by using the client_id as your username and client_secret as your password.
> <br/><br/>
> The client_secret for your application should not be shared with anyone or embedded in any code that you will distribute.  This exclusion also extends to an app binary that could be de-compiled.  This API call should only be made using server-side code over TLS.

**Request Parameters**

Parameter Name     |Required?     |Description
---                |---           |---
grant\_type        |required      |set to `client_credentials`



**Sample Request #1 \(using HTTP Basic Authorization\)**

> The authorization value is equal to Basic: Base64Encoded\(client\_id:client\_secret\)

```apib
curl -X POST \
-H "Authorization:Basic QUFBQlJiUkh3V2tzbG8tdTowLmtnOG1wSnhOeER5ZUx2SVNVZ04wbHFsWWVWQS1UeFZSWlVFWThIdWljOEEuUzRuRnpPWS0wLTF3bW1qd3lGV2l0aUZwRGxz" \
-H "Content-Type:application/json" \
-H "Cache-Control:no-cache" \
https://api.neteller.com/v1/oauth2/token?grant_type=client_credentials
```

**Sample Request #2 \(cURL specific sample, using client\_id and client\_secret as username/password\)**

```apib
curl -X POST \
-u "AAABRbRHwWkslo-u:0.kg8mpJxNxDyeLvISUgN0lqlYeVA-TxVRZUEY8Huic8A.S4nFzOY-0-1wmmjwyFWitiFpDls" \
-H "Content-Type:application/json" \
-H "Cache-Control:no-cache" \
https://api.neteller.com/v1/oauth2/token?grant_type=client_credentials
```

**Response Structure**

Field Name     |Field Type     |Constraints    |Description
---            |---            |---            |---
accessToken    |string         |length <= 200  |The access token to be used in calls to the protect NETELLER REST APIs.
tokenType      |string         |length <= 50   |Identifies the type of token to the client.  Possible values: `Bearer`
expiresIn      |number         |               |The lifetime in seconds of the access token.

> A refresh token WILL NOT be included for this grant type.  It is only applicable for type: authorization_grant

**Sample Response**

```apib
HTTP/1.1 200 OK
Content-Type: application/json;charset=UTF-8
Cache-Control: no-store
Pragma: no-cache
{
   "accessToken":"0.AQAAAUW-9Tu4AAAAAAAEk-BNppPGFNwoWODBcOzrnHwA.skB0dDtyMrW4xCZJw__FGNtL-08",
   "tokenType":"Bearer",
   "expiresIn":300
}
```

If the request failed client authentication or is invalid, the authorization server returns an [error response](#OAUTH Errors).

```apib
{
  "error": "unsupported_grant_type"
}
```

#### Obtain an access token using the auth_code grant type

> *Is member authorization required?*
> If the API resource does not require member authorization \(identified by a scope of *'default'*\), you can Obtain an access token using the client_credentials grant type instead.

The authorization grant flow has two parts and utilizes two authorization server endpoints.  

*1\) Authorization Endpoint* - used to obtain authorization \(auth_code\) from the resource owner via user-agent redirection.  
Your application redirects the member to NETELLER where they are asked to grant the requested permissions.  if the member approves, 
NETELLER will post back to your redirect uri with a unique authorization code that represents this members acknowledgement of your 
request.

*2\) Token Endpoint* - used to trade in the auth\_code, or previously issued refresh_token for an new access token  
The authorization code can then be exchanged for an access_token to use with your REST API calls.  This process can be repeated until 
authorization is revoked by the member or until different permissions are required.

**The flow consists of the following steps:**

1. The client app requests authorization by redirecting the user to the authorization endpoint. 
  
2. The resource owner (member) must verify their identity via a hosted authentication page.
   
3. The resource owner (member) is prompted to authorize the application.  The requested scopes are displayed and the member must Allow or Deny the authorization.
   
4. If the member authorized the requested scope, an auth_code is returned to your redirect uri.  This code will have a limited lifetime for you to complete the callback to redeem the access token.
   
5. Now you need to authorize your app.  Call the token endpoint with a grant type of authorization_code and provide the auth code from step 4. If successful, an access token is returned that can be used to make API requests on the users behalf.

> When invoking this flow, you must pass in the redirect\_uri that the user's browser will be redirected back to once app authorization is completed. The redirect_uri must be the same URI you specify when registering your web application OR must be the same one that was passed in the original authorization call.

**Obtain an authorization code**

```apib
GET https://api.neteller.com/v1/oauth2/authorize?client_id=YOUR_APPLICATION_ID&redirect_uri=YOUR_URI&scope=YOUR_REQUESTED_SCOPE&response_type=code
```

**Authorization Request Parameters**

Parameter Name  |Required? |Description
---             |---       |---
client_id       |required  |Unique identifier generated when you registered your application.
redirect\_uri   |optional  |The uri that the user's browser will be redirected back to once app authorization is completed. If supplied during this authorization request, the same uri must be supplied in the call to the token endpoint. When not supplied, the default registered redirect uri will be used. The redirect_uri must secured over TLS \(https://\)
scope           |required  |The supplied scope parameter will indicate the level of access you require for your app. The scope parameter MUST be supplied. If your application requires multiple scopes then you should supply a comma separated list. Eg. scope=perm1,perm2
state           |optional  |
response_type   |          |Identifies the type of response for this request. Valid values: code - for server side flows **Only code is permitted at this time 
lang            |          |OPTIONAL: preferred language to render the authorization flow in. see [Languages](#Languages) for complete list


The following request sample shows how to ask for authorization to obtain a members balance to show on your cashier page.

```apib
GET https://api.neteller.com/v1/oauth2/authorize?client_id=AAABRbRHwWkslo-a&redirect_uri=https://www.mysite.com/cashier&scope=account_available_balance&response_type=code
```

The following flows will be presented:
 
Member Authentication - Member will need to verify their identify using their standard credentials.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/auth_code-grant-type-1.png)

Member will be prompted to authorize the requested permissions.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/auth_code-grant-type-2.png)

**Authorization Response Structure**

*Authorization Success*

If the member authorizes your request NETELLER will redirect \(via HTTP 302\) the user's browser by adding the following parameters to the query component of the redirection URI using the 
"application/x-www-form-urlencoded" format.

Parameter Name    |Description
---               |---
code              |A short lived authorization code that can be exchanged for an access token. This value is short lived \(10 minutes\) and must be exchanged for a valid access token before it expires.
state             |Will be provided if the state parameter was present in the authorization request.
customer_id       |The associated unique identifier for this NETELLER account holder. This identifier can be used to lookup additional information about the customer.

*Sample Response*

```apib
https://https//www.mysite.com/cashier?auth_code=0.AAAAAUmlhiRUAAAAAAAEk-DKmil1fF5vleYLDaiRhPDi.si-fsMDooIjhdGrShvafUALhQP8&state=abc&customer_id=CUS_F493C864-69D1-4939-B914-CC4C52A57DEF
```

**Exchange your authorization code for an access token**

Once you have received member authorization, you can exchange your authorization_code for an access token.  

```apib
POST https://api.neteller.com/v1/oauth2/token?grant_type=authorization_code&code=YOUR_AUTHORIZATION_CODE&redirect_uri=YOUR_REDIRECT_URI
```
 
*Token Request Parameters*

Field Name    |Field Type    |Field Size    |Required?    |Description
---           |---           |---           |---          |---
grant\_type   |string        |100           |required     |set to 'authorization_code'
code          |string        |20            |required     |set to the auth_code previously received from the authorization server.
redirect\_uri |string        |500           |optional     |The TLS enabled redirection uri that will be returned to. This value must match the uri used to obtain authorization, If not supplied during the authorization flow then the redirect_uri will be the registered redirect uri for your application \(as set in the merchant.com portal under the APPS section\) and should not be passed.

*Sample Request #1 \(using client_id and client_secret as username/password\)*

```apib
curl -X POST \
-u "AAABRbRHwWkslo-u:0.kg8mpJxNxDyeLvISUgN0lqlYeVA-TxVRZUEY8Huic8A.S4nFzOY-0-1wmmjwyFWitiFpDls" \
-H "Content-Type:application/json" \
-H "Cache-Control:no-cache" \
"https://api.neteller.com/v1/oauth2/token?grant_type=authorization_code&code=0.AAAAAUfvVDS3AAAAAAAEk-B5Ei4gPXAQA4B8EDH4jpdC._Cm7iYsUq1SQgJNiZg11yQwfpEg&redirect_uri=https://www.mysite.com"
```

*Sample Request \(using HTTP Basic Authorization\)*

The authorization value is equal to Basic: Base64Encoded\(client\_id:client_secret\)

```apib
curl -X POST \
-H "Authorization:Basic QUFBQlJiUkh3V2tzbG8tdTowLmtnOG1wSnhOeER5ZUx2SVNVZ04wbHFsWWVWQS1UeFZSWlVFWThIdWljOEEuUzRuRnpPWS0wLTF3bW1qd3lGV2l0aUZwRGxz" \
-H "Content-Type:application/json" \
-H "Cache-Control:no-cache" \
"https://api.neteller.com/v1/oauth2/token?grant_type=authorization_code&code=0.AAAAAUfvVDS3AAAAAAAEk-B5Ei4gPXAQA4B8EDH4jpdC._Cm7iYsUq1SQgJNiZg11yQwfpEg&redirect_uri=https://www.mysite.com"
```

If your app is successfully authenticated, and the authorization code is valid, the authorization server will return the following:

**Token Request Success**

*Response Structure*

A [token](# Complex JSON Objects) object will be returned.

Field Name     |Field Type    |Field Size    |Description
---            |---           |---           |---
accessToken    |string        |100           |The access token to be used in calls to the protect NETELLER REST APIs.
tokenType      |string        |20            |Identifies the type of token to the client. For now only 'Bearer' is supported.
expiresIn      |number        |6             |The lifetime in seconds of the access token. Default is 300 seconds \(5 minutes\).
refreshToken   |string        |100           |The refresh token which can be used to obtain new access tokens using the same authorization grant that was previously   associated to it. This value is a secret. You should treat it like the user's password and take appropriate measures to protect it.
scope          |string        |250           |The scope associated with the access token.

*Sample Response*

```apib
HTTP/1.1 200 OK
Content-Type: application/json;charset=UTF-8
Cache-Control: no-store
Pragma: no-cache
{
  "accessToken": "0.AQAAAUgUGIk5AAAAAAAEk-CgJxQeNBiq7ES8yQaLITPU.JGrVsVsiy3ASoQsYED9VkJv25eY",
  "tokenType": "Bearer",
  "expiresIn": 300,
  "refreshToken": "0.AgAAAUgUGIkyAAAAB1jwsODI5PCkVNOZul5AJ01mYtdh.ezGCYhN5YD22-BCOPX6U-muc72o",
  "scope": "subscription_payment"
}
```


#### Obtain an access token using your refresh token

If the previously issued access token has expired \(obtained from the authorization grant authentication flow\) 
and you receive a HTTP 401 - Unauthorized error, you can utilize the refresh token that was issued to you with 
the initial authorization response to obtain a new one.

*Request Parameter*

Parameter Name     |Required?    |Description
---                |---          |---
grant\_type        |required     |set to 'refresh_token'
refresh\_token     |required     |The refresh token previously issued to the client

*Sample Request*

```apib
curl -X POST \
-H "Authorization:Basic QUFBQlJiUkh3V2tzbG8tdTowLmtnOG1wSnhOeER5ZUx2SVNVZ04wbHFsWWVWQS1UeFZSWlVFWThIdWljOEEuUzRuRnpPWS0wLTF3bW1qd3lGV2l0aUZwRGxz" \
-H "Content-Type:application/json" \
-H "Cache-Control:no-cache" \
"https://api.neteller.com/v1/oauth2/token?grant_type=refresh_token&refresh_token=0.AgAAAUnPnWEeAAAAB1jwsOAq6iK0G2op1zi_sQC3KE22.oD4wHNZjuF5tWOZh2ozEpi2E7BE"
```

*Response Structure*

Field Name    |Field Type  |Field Size     |Description
---           |---         |---            |---
accessToken   |string      |length <= 200  |The access token to be used in calls to the NETELLER REST APIs.
expiresIn     |number      |               |The lifetime in seconds of the access token.
tokenType     |string      |20             |Identifies the type of token to the client. "Bearer"
scope         |string      |               |The comma delimited list of scopes that have been authorized for this token.

*Sample Response*

```apib
HTTP/1.1 200 OK
Content-Type: application/json;charset=UTF-8
Cache-Control: no-store
Pragma: no-cache
{
   "accessToken": "0.AQAAAUfvtyJyAAAAAAA27oALPWxe111yJMNH3HEa6l_o.EddShan6OS7sQX28UhYz5cz_LHE",
   "expiresIn": 300,
   "tokenType": "Bearer",
   "scope": "subscription_payment, account_available_balance"
}
```

***

## OAUTH Errors

####Authorization Request Errors

If the member does not authorize your request, or the request fails for reasons other then a missing or invalid redirection URI  NETELLER will redirect \(via HTTP 400 - Bad Request\) the user's browser by adding the following parameters to the query component of the redirection URL using the "application/x-www-form-urlencoded" format.

> There are some error situations in which you will not receive the error back on your redirect_uri.   For example, if you attempt to supply an insecure http:// redirect.  In this case the customer would see an invalid request error.  For this reason it is important to validate your integration!

Parameter Name                 |Description
---                            |---
error                          |The error that occurred
error_description              |Reason for the error.
state                          |Will be provided if the **state** parameter was present in the authorization request


Possible Errors:

Error                           |Error Reason
---                             |---
**invalid_request**             |The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed.
**unauthorized_client**         |The client is not authorized to request an authorization code using this method.
**access_denied**               |The resource owner or authorization server denied your request.
**unsupported_response_type**   |The authorization server does not support obtaining an authorization code using this method.
**invalid_scope**               |The requested scope is invalid, unknown, or malformed.
**server_error**                |The authorization server encountered an unexpected condition that prevented it from fulfilling the request.\(This error code is needed because a 500 Internal Server Error HTTP status code cannot be returned to the client via an HTTP redirect.\)
**temporarily_unavailable**     |The authorization server is currently unable to handle the request due to a temporary overloading or maintenance of the server.  \(This error code is needed because a 503.  Service Unavailable HTTP status code cannot be returned to the client via an HTTP redirect.\)

Sample Response

https://YOUR_URL/?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+your+request

#### Token Request Errors

The authorization server responds with an HTTP 400 \(Bad Request\) status code \(unless specified otherwise\) and includes the following parameters with a JSON response:

Parameter Name                 |Description
---                            |---
error                          |The error that occurred
error_description              |Reason for the error.
state                          |Will be provided if the **state** parameter was present in the authorization request


Possible Errors:

Error                           |Error Reason
---                             |---
**invalid_request**             |The request is missing a required parameter, includes an unsupported parameter value \(other than grant type\), repeats a parameter, includes multiple credentials, utilizes more than one mechanism for authenticating the client, or is otherwise malformed.
**invalid_client**              |Client authentication failed \(e.g., unknown client, no client authentication included, or unsupported authentication method\). The authorization server MAY return an HTTP 401 (Unauthorized) status code to indicate which HTTP authentication schemes are supported. If the client attempted to authenticate via the "Authorization" request header field, the authorization server MUST respond with an HTTP 401 (Unauthorized) status code and include the "WWW-Authenticate" response header field matching the authentication scheme used by the client. **This error might also indicate that you are attempting access from an unauthorized IP address.
**invalid_grant**               |The provided authorization grant \(e.g., authorization code, resource owner credentials\) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client.
**unauthorized_client**         |The authenticated client is not authorized to use this authorization grant type.
**server_error**                |The authorization server encountered an unexpected condition that prevented it from fulfilling the request.\(This error code is needed because a 500 Internal Server Error HTTP status code cannot be returned to the client via an HTTP redirect.\)
**unsupported_grant_type**      |The authorization grant type is not supported by the authorization server.
**invalid_scope**               |The requested scope is invalid, unknown, malformed, or exceeds the scope granted by the resource owner.

***

## OAUTH Scopes

Some resources available through the NETELLER REST API require that your APP be granted appropriate authorization by the member.  This authorization of permissions, also referred to as authorized scope, is managed by directing the NETELLER member to a page where they can choose to approve or deny the requested access.
 
The following list identifies the authorized scopes that are available in the NETELLER API. These permissions, or scopes, are handled on a per member / per access token basis.  To retrieve a resources protected fields, you must first obtain an access token using the authorization grant flow or previously issued refresh token.  You can continue to obtain new access tokens for the already authorized scopes until the authorization expires or is revoked by the member. 
For API requests that permit default scope, you may not require member authorization if the fields you are concerned with are offered as part of the default response.   In this instance you should use your client credentials to obtain the required access token as there is no required member authorization.

> The permissions associated with an access token are set in the /v1/oauth2/authorize call.   
Some API methods will limit their response data dependent upon which authorized scopes have been granted.  See the JSON Objects reference for details around which fields are returned by default and which ones require member authorization. 

Permission              |Authorized Scope             |Description
---                     |---                          |---
Subscription Payment    |subscription_payment         |Permits access to setup a subscription and automatically receive recurring payments from a NETELLER account holder<br/>**Member Prompt: Allow access to setup a subscription and receive recurring payments from your NETELLER account.**
Basic Profile           |account\_basic\_profile      |Permits access to your name, date of birth, country<br/>**Member Prompt: Allow access to view your name, date of birth and country.**
Enhanced Profile        |account\_enhanced\_profile   |Permits access to account address, city, post code, subdivision, account preferences and gender<br/>**Member Prompt: Allow access to view your address, account preferences and gender.**
Available Balance       |account\_available\_balance  |Permits access to view the members currently available balance<br/>**Member Prompt: Allow access to view your currently available balance.**
Contact Information     |account\_contacts            |Permits access to the member contact phone numbers.<br/>**Member Prompt: Allow access to view your contact phone numbers.**

***

<a name='webhooks'></a>

## Webhooks

A webhook allows you to define an HTTP callback that will be POST to when an event occurs that you would like to be notified of.  You can define the notification URL and select which events you wish to be notified of from your merchant account portal.
> Webhooks will be sent whenever the state of the resource changes. Certain activity may lead to the same event being sent more than once.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/merchant-dashboard-webhooks.png)

**Responding to a webhook**

To acknowledge that you received the webhook without any problem, your server should return a 200 HTTP status code. Any other information you return in the request headers or request body will be ignored. Any response code outside the 200 range, including 3xx codes, will indicate to NETELLER that you did not receive the webhook.
> If your system did not respond with a valid HTTP 200 status, NETELLER will continue to retry the request with an escalating time delay for up to 48 hours

**Secure webhooks \(recommended\)**

NETELLER recommends that you use one of the following forms of authentication on your webhook URLs
 
**HTTP Basic Authentication - Use basic authentication syntax in your webhook URL:**

Format : https://{username}:{password}@{webhook_url}
Example : https://exampleuser:NT1p2dsl@example.com/netellerwebhook

**Secret Key - Provide a secret key that is passed back as part of the webhook event notification body.**

Format : https://{webhook_url}
Example : https://example.com/netellerwebhook

> The secret key should not be shared with anyone.

**Sample webhook response**

```apib
{
     "mode": "live",
     "id": "ebecd052-757f-4991-9f19-469d21e6c065",
     "eventDate": "2014-01-01T00:00:00Z",
     "eventType": "subscription_payment_succeeded",
     "attemptNumber": 1,
     "key": "23haJ20opHJ2ks38aGEnw",
     "links": [
         {
             "url": "https://api.neteller.com/v1/subscriptions/234234224/invoices/99102",
             "rel": "invoice",
             "method": "GET"
         }
     ]
}
```

> When sending a Test Webhook request from the merchant portal, the links section will be excluded from the response as their is no valid resource reference to send.


**Subscription resource event**

Event Types                            |Event that triggers the webhook
---                                    |---
subscription\_activated                |Subscription was activated. Also triggered when a subscription has moved from a 'pending' to 'active' state.
subscription\_cancelled                |Subscription was cancelled.
subscription\_cancelled\_at\_period\_end   |Subscription is set to be cancelled at the end of the current billing period.
subscription\_created                  |Subscription was successfully created.
subscription\_ended                    |Subscription has lapsed and is now ended.
subscription\_failed                   |Subscription failed to be created. Most likely the account had insufficient funds for initial payment.
subscription\_pending                  |Subscription is created but pending a future activation.

**Order resource events**

Event Types                             |Event that triggers the webhook
---                                     |---
order\_cancelled\_or\_expired           |Order payment failed, the member did not complete their order in time.

**Invoice resource events**

Event Types                             |Event that triggers the webhook
---                                     |---
order\_payment\_declined                |Order payment was declined.
order\_payment\_succeeded               |Order payment was successful.
subscription\_payment\_declined         |Subscription payment for period was not successful.<bt/>Attempts to collect payment for the subscription for the billing period have failed and no more retries will be attempted.
subscription\_payment\_pending\_retry   |Subscription payment was not collected as the member has insufficient funds available, <Br/>NETELLER will continue to try to collect payment for this period.
subscription\_payment\_succeeded        |Subscription payment for period was successful.

**Payment resource events**

Event Types           |Event that triggers the webhook
---                   |---
payment\_cancelled    |Payment was cancelled.
payment\_declined     |Payment was declined.
payment\_pending      |Payment is pending.
payment\_succeeded    |Payment is successful.

***

## Merchant Currencies

<a name="currencies"></a>

Currency Code|Description            |Decimal Places
---          |---                    |---
AED          |Emirati Dirham         |2
AUD          |Australian Dollar      |2
BRL          |Brazilian Real         |2
GBP          |British Pound          |2
BGN          |Bulgarian Lev          |2
CAD          |Canadian Dollar        |2
DKK          |Danish Krone           |2
EUR          |Euro                   |2
HUF          |Hungarian Forint       |0
INR          |Indian Rupee           |2
JPY          |Japanese Yen           |0
MYR          |Malaysian Ringgit      |2
MAD          |Moroccan Dirham        |2
MXN          |Mexican Peso           |2
NGN          |Nigerian Naira         |2
NOK          |Norwegian Kroner       |2
PLN          |Polish Zloty           |2
RON          |Romanian New Leu       |2
RUB          |Russian Ruble          |2
SGD          |Singapore Dollar       |2
SEK          |Swedish Krona          |2
CHF          |Swiss Franc            |2
TWD          |Taiwan New Dollar      |2
TND          |Tunisia Dinar          |3
USD          |United States Dollar   |2
ZAR          |South African Rand     |2

Note: When specifying amounts in your API calls be aware of the number of decimal places (minor units) that 
each currency supports.  You must change the formatting of the amount based on the minor units for the 
specific currency.  For example, Japanese Yen does not have minor units so the amount should be specified as 
such.  ie: 50 JPY would pass 50 in the amount, 50.00 USD would be an amount of 5000, and 50.000 TND would be 50000.

***

## Languages 

<a name="languages"></a>

Language Code|Description
---          |---
da_DK        |Danish
de_DE        |German
el_GR        |Greek
en_US        |English
es_ES        |Spanish
fr_FR        |French
it_IT        |Italian
ja_JP        |Japanese
ko_KR        |Korean
no_NO        |Norwegian
pl_PL        |Polish
pt_PT        |Portuguese
ru_RU        |Russian
sv_SE        |Swedish
tr_TR        |Turkish

***

# Getting Started

## Overview

This section outlines some common use scenarios of the NETELLER REST API. <br />

All examples in this section use cURL, which is a command line tool for transferring data using protocols such as HTTPS.

## Obtain your sandbox or production account details

The NETELLER REST API implements the OAUTH2 standard for authentication.  Below are the steps to follow when first setting up your
application. The same steps should be completed on both sandbox [https://test.merchant.neteller.com/](https://test.merchant.neteller.com/) and production [https://merchant.neteller.com/](https://merchant.neteller.com/) environments. You must complete all of these steps **before** you can attempt to obtain an access token for use in your REST API request.

### 1) Verify that NETELLER REST API is enabled for your merchant account.

If the API is not enabled, please contact [NETELLER Merchant Support](mailto:merchantsupport@optimalpayments.com) to have it enabled.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/api-enabled.png)

### 2) Register the IP addresses that will be allowed to access the API

_When registering your secure API IP addresses, you must ensure you are using the IP\(s\) of your networks outbound gateway. If you are working within a corporate network, or are sitting behind a proxy, you may have to contact your administrator to help identify the appropriate IP address\(es\)_

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/ip-whitelisted.png)

### 3) Register your application to obtain your API credentials

Your must register your application by providing the appropriate detail about its name, where it will be hosted, and what the primary contact email is to be. You may also choose to upload an application logo that will provide your customers brand recognition if you are planning to implement the authorization flow.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/application-added.png)

You are now ready to obtain an access token to use in your REST API request. Please refer to the 'Authentication' section for more information on how to obtain an access token. 


## Setup Subscription Billing

NETELLER offers recurring billing support through the REST API with the plan and subscription resources.

### Create a subscription plan

To get started, you must first define your subscription plan.  The plan provides details about your recurring billing such as the charge amount, currency and frequency of the billing.   You can provide a custom plan id to identify the subscription plan, however the planid must be unique across all active subscription plans.

**Sample request**

```apib
POST /v1/plans HTTP/1.1
Host: test.api.neteller.com
Authorization: Bearer 0.AQAAAUjshWvyAAAAAAAEk-Cj7vq1mEuIVz-2TomxIvnu.a4ixcq15cM6lCShJMIL7orHCI5w
Content-Type: application/json
Cache-Control: no-cache
Postman-Token: 01f33640-4ecb-370b-fe23-0f9b2d972b91

{
    "planId": "DEMOGOLDPLAN",
    "planName": "Sample Gold Plan",
    "interval": 1,
    "intervalType": "monthly",
    "intervalCount": 12,
    "amount": 2995,
    "currency": "EUR"
}
```

**Sample response**

```apib
{
    "planId": "DEMOGOLDPLAN",
    "planName": "Sample Gold Plan",
    "interval": 1,
    "intervalType": "monthly",
    "intervalCount": 12,
    "amount": 2995,
    "currency": "EUR",
    "status": "active",
    "numberOfSubscriptions": 0,
    "links": [
        {
            "url": "https://api.neteller.com/v1/plans/DEMOGOLDPLAN",
            "rel": "self",
            "method": "GET"
        }
    ]
}
```

### Obtain member authorization to enroll them in your subscription plan

Once you have created a plan, you will want to enroll members \(subscribe them\) to the plan. Before this can be done, you must first obtain authorization from the member so that NETELLER can issue re-curring payments on the member's behalf.   Obtain member authorization by redirecting the customer to the hosted authorization flow with scope of 'subscription\_payment', where they can approve your request.

See [Obtain an access token using the auth\_code grant type](#authcodegrant)for more information.

**Sample request**

```apib
GET https://test.api.neteller.com/v1/oauth2/authorize?client_id=AAABRbRHwWkslo-u&redirect_uri=http://requestb.in/1kk4mrn1&scope=subscription_payment&response_type=code
```

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/member-authorization-1.png)

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/member-authorization-2.png)

Upon successful authorization, you will be returned the authorization code on your specified redirect uri along with the customer id.    The customer id can be used to identify the customer when you request to enrol them with the /subscription endpoint.

**Sample response**

```apib
http://requestb.in/1kk4mrn1?auth_code=0.AAAAAVCNkWu3AAAAAAAEk-Azr8ttdq9qHdd74U2sed4J.cv1lK7A1riN9qykt-aFP7SWELj8&customer_id=CUS_A6B8F672-BA13-4AA5-8613-BA6018AF9B75
```

### Subscribe a NETELLER customer to your plan

Once you have obtained the required authorization, you can proceed to subscribe the member in your plan through the create subscription call. 

Subscriptions can be post dated to start at a later date by passing in an optional start date, but by default will start immediately and will attempt to collect payment as soon as you sent the request.
 
The first step in this process is to obtain a new access token.  This is completed by exchanging the members authorization\_code for an access token. Or by exchanging a previously issued refresh token if you have already obtained subscription_payment authorization from the NETELLER member.

**Sample request**

```apib
POST /v1/oauth2/token?grant_type=authorization_code&code=0.AAAAAUjxrXbeAAAAAAAEk-AMxBtcId3NytItAJjLUG6C.JDOulU_E5v2wSOvoqrSldXFv49Y HTTP/1.1
Host: test.api.neteller.com
Content-Type: application/json
Authorization: Basic QUFBQlJiUkh3V2tzbG8tdTowLmtnOG1wSnhOeER5ZUx2SVNVZ04wbHFsWWVWQS1UeFZSWlVFWThIdWljOEEuUzRuRnpPWS0wLTF3bW1qd3lGV2l0aUZwRGxz
Cache-Control: no-cache
Postman-Token: b22baf1f-256c-52c0-a52f-b6e1e04f19ec
```

**Sample response**

```apib
{
  "accessToken": "0.AQAAAUjxrhKmAAAAAAA27oDRqZ5aM7mnxrr7cgwhVFt3.3RdQp5PrOlirCqhmHybKsRUBINI",
  "expiresIn": 3600,
  "refreshToken": "0.AgAAAUjxrhKfAAAAB1jwsOBSE_xJsAYmavHS30lwvJ1B.YwlwdWKjPSa12NXvqvgV_C2922E",
  "scope": "subscription_payment"
}
```

Next, use the access token to subscribe the member to your subscription plan.  Here we supply the optional startDate so the plan will start as the beginning of the month.

**Sample request**

```apib
POST /v1/subscriptions HTTP/1.1
Host: test.api.neteller.com
Authorization: Bearer 0.AQAAAUjxrhKmAAAAAAA27oDRqZ5aM7mnxrr7cgwhVFt3.3RdQp5PrOlirCqhmHybKsRUBINI
Content-Type: application/json
Cache-Control: no-cache
Postman-Token: 5b2d14b3-963f-6ca4-d008-2952a013f7b8
 
{
    "planId": "DEMOGOLDPLAN",
    "customerId": "CUS_A6B8F672-BA13-4AA5-8613-BA6018AF9B75",
    "startDate": "2014-06-01T00:00:00Z"
}
```

**Sample response**

```apib
{
    "subscriptionId": "SUB_0d676b4b-0ab3-4d78-af25-e452ab431e522",
    "plan": {
        "link": {
            "url": "https://api.neteller.com/v1/plans/DEMOGOLDPLAN",
            "rel": "plan",
            "method": "GET"
        }
    },
    "customer": {
        "link": {
            "url": "https://api.neteller.com/v1/customers/CUS_FCBB852E-CAF6-4109-8AE1-40100D3ECE12",
            "rel": "customer",
            "method": "GET"
        }
    },
    "status": "active",
    "startDate": "2014-11-20T23:52:37Z",
    "endDate": "2015-11-19T23:52:37Z",
    "currentPeriodStart": "2014-11-20T23:52:35Z",
    "currentPeriodEnd": "2014-11-27T23:52:35Z",
    "cancelAtPeriodEnd": "false",
    "cancelDate": null,
    "links": [
        {
            "url": "https://api.neteller.com/v1/subscriptions/SUB_0d676b4b-0ab3-4d78-af25-e452ab431e522",
            "rel": "self",
            "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/payments/138416527555633",
            "rel": "payment",
            "method": "GET"
        }
    ]
}
```

Customers that have a subscription will be able to see the subscription details in their member account settings.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/member-subscription-details.png)


### Setup Webhooks to receive updates about subscription payments

A webhook allows you to define an HTTP callback that will be POST to when an event occurs that you would like to be notified of.  You can enable webhooks through your merchant account portal.  Start by saving your webhook URL and selecting the specific events you wish to receive notification for.
 
See [Webhooks](#Webhooks) for more information.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/setup-webhooks.png)

You can trigger sample webhook event through the Test Webhooks function to ensure your service is properly exposed to capture the event.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/trigger-sample-webhook.png)

### Billing Process

NETELLER will automatically attempt to collect payment for all your subscriptions on their due date.  In the event the member has insufficient account balance to process the payment, NETELLER will re-try payment collection 3 times over a 7 day period.  \(1st, 3rd, 7th day after initial charge attempt\).  The member will be notified that they have insufficient funds in their account and that they need to top up their balance before the next retry.

**Failed charge notification email**

In the unlikely event that NETELLER is unable to collect payment for the current period billing, you will receive an email notification with an attached CSV file detailing any failed payments for the current day.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/failed-charge-notification-email.png)

**Sample CSV attachment:**

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/sample-csv-attachment.png)

***

## Create a NETELLERgo! Hosted Payment

### Create an order

The first step in using the NETELLERGO! hosted payment flow, is to create an order.  The order may, or may not, contain a detailed list of all items / fees / taxes that you wish to collect payment for.  NETELLER recommends you provide as much detail as possible in the order request, as the more detail you can provide, the more likely you customer is to complete the payment as they will have a better understanding of how the total purchase amount was calculated.

> Your request should include redirect_urls for where you would like your customer to be returned depending on the outcome of the attempt to collect payment.

**Sample request**

```apib
POST /v1/orders HTTP/1.1
Host: test.api.neteller.com
Authorization: Bearer 0.AQAAAUpkOdfxAAAAAAA27oCvz0-Y9rEevMOnlll8yDtB.3ukRggt_VV1zXjFNd1h8-TGrMcI
Content-Type: application/json
Cache-Control: no-cache
 
{  
   "order":{  
      "merchantRefId":"20141231120800",
      "totalAmount":3599,
      "currency":"EUR",
      "lang":"en_US",
      "items":[  
         {  
            "amount":2500,
            "quantity":1,
            "sku":"XYZPART1",
            "name":"Item A",
            "description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget venenatis diam. Integer euismod magna dui, a accumsan elit interdum."
         },
         {  
            "amount":200,
            "quantity":2,
            "sku":"",
            "name":"Item B",
            "description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue orci, ac euismod."
         }
      ],
      "fees":[  
         {  
            "feeAmount":500,
            "feeName":"Setup Fee"
         }
      ],
      "taxes":[  
         {  
            "taxAmount":199,
            "taxName":"VAT"
         }
      ],
      "redirects":[  
         {  
            "rel":"on_success",
            "uri":"http://requestb.in/16bf0vr1?result=success"
         },
         {  
            "rel":"on_cancel",
            "uri":"http://requestb.in/16bf0vr1?result=cancel"
         }
      ]
   }
}
```

**Sample response**

```apib
{
  "orderId": "ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
  "merchantRefId": "20141219132605",
  "totalAmount": 3599,
  "currency": "EUR",
  "lang": "en_US",
  "items":
  [
    {
      "amount": 2500,
      "quantity": 1,
      "sku": "XYZPART1",
      "name": "Item A",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget venenatis diam. Integer euismod magna dui, a accumsan elit interdum."
    },
    {
      "amount": 200,
      "quantity": 2,
      "sku": "",
      "name": "Item B",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue orci, ac euismod."
    }
  ],
  "fees":
  [
    {
      "feeAmount": 500,
      "feeName": "Setup Fee"
    }
  ],
  "taxes":
  [
    {
      "taxAmount": 199,
      "taxName": "VAT"
    }
  ],
  "redirects":
  [
    {
      "rel": "on_success",
      "uri": "https://example.com/success.html"
    },
    {
      "rel": "on_cancel",
      "uri": "https://example.com/cancel.html"
    }
  ],
  "links":
  [
    {
      "url": "https://api.neteller.com/v1/checkout/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
      "rel": "hosted_payment",
      "method": "GET"
    },
    {
      "url": "https://api.neteller.com/v1/orders/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
      "rel": "self",
      "method": "GET"
    }
  ]
}
```

### Redirect customer to hosted_payment URL

NETELLER will respond with a unique order id, details of the order request, and a HATEOAS link for the *hosted\_payment* flow that you redirect your customer to.

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/go-1-choose-payment.png)

![](https://github.com/paysafegroup/neteller_rest_api_v1/raw/master/images/go-2-success.png)

Once NETELLER has completed the request, the customer will be directed to the appropriate redirection url as supplied in your create order request.

### Verify status of payment invoice

When you enable webhooks from your merchant account portal, NETELLER will notify when the status of the order changes and allow you to take appropriate action.   Additionally you can query for the order status or order invoice status to verify your payment.  Refer to the order and invoice object for more information on the various status definitions.  

> The order lookup will also provide related HATEOAS links, including the related invoice and payment.

```apib
GET /v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa HTTP/1.1
Host: api.neteller.com
Authorization: Bearer 0.AQAAAUqh0lkiAAAAAAA27oCpkpXuJBSTHQW1c4gp5NUa.ch314cvao60L3lBsUEERdEY-k58
Content-Type: application/json
Cache-Control: no-cache
 
{  
    "orderId": "ORD_2ed9d95b-3361-4144-b702-64010c1afdfa",
    "merchantRefId": "123456666",
    "totalAmount": 3599,
    "currency": "EUR",
    "status": "pending",
    "lang": "en_US",
    "items": [
        {
            "quantity": 2,
            "name": "Item B",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue orci, ac euismod.",      
            "amount": 200
        }
    ],
    "fees": [
        {
            "feeName" : "Setup Fee",
            "feeAmount": 500
        }
    ],
    "taxes": [
        {
            "taxName": "VAT"
            "taxAmount": 199,
        }
    ],
    "paymentMethods": [
       {
           "type": "voucher",
           "value": "ukash"
       }
    ],
    "redirects": [
        {
            "rel": "on_success",
            "returnKeys": [
                "id"
            ],
            "uri": "https://example.com/success.html"
        },
        {
            "rel": "on_cancel",
            "returnKeys": [
                "id"
            ],
            "uri": "https://example.com/cancel.html"
        }
    ],
    "links": [
        {
           "url": "https://api.neteller.com/v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa",
           "rel": "self",
           "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/checkout/ja3l3i_289lGk_3k2390",
            "rel": "hosted_payment",
            "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa/invoice",
            "rel": "invoice",
            "method": "GET"
        },
        {
            "url": "https://api.neteller.com/v1/payments/154391457301406",
            "rel": "payment",
            "method": "GET"
        }
    ]
}
```

> A HATEOAS link to the corresponding payment object will be available on the invoice *only* when the customer has completed their checkout.

You can check the status of the order or review order details by using the Lookup order function

```apib
GET /v1/orders/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35 HTTP/1.1
Host: test.api.neteller.com
Authorization: Bearer 0.AQAAAVCNnA9HAAAAAAA27oBWw1Cf97jNe_jhOqKOIbKG._dML1Cm-RxMzrWbwBoe8cRXSa7A
Content-Type: application/json
Cache-Control: no-cache
Postman-Token: d174ed94-c737-e4fe-0ff2-44fc90abfe74
 
{
  "orderId": "ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
  "merchantRefId": "20141219132605",
  "totalAmount": 3599,
  "currency": "EUR",
  "status": "expired",
  "items":
  [
    {
      "amount": 2500,
      "quantity": 1,
      "sku": "XYZPART1",
      "name": "Item A",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget venenatis diam. Integer euismod magna dui, a accumsan elit interdum."
    },
    {
      "amount": 200,
      "quantity": 2,
      "sku": "",
      "name": "Item B",
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue orci, ac euismod."
    }
  ],
  "fees":
  [
    {
      "feeAmount": 500,
      "feeName": "Setup Fee"
    }
  ],
  "taxes":
  [
    {
      "taxAmount": 199,
      "taxName": "VAT"
    }
  ],
  "links":
  [
    {
      "url": "https://test.api.neteller.com/v1/orders/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
      "rel": "self",
      "method": "GET"
    },
    {
      "url": "https://test.api.neteller.com/v1/checkout/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35",
      "rel": "hosted_payment",
      "method": "GET"
    }
  ]
}
```

You can check the payment status by looking up the related invoice for the order.

```apib
GET /v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa/invoice HTTP/1.1
Host: api.neteller.com
Authorization: Bearer 0.AQAAAUqh0lkiAAAAAAA27oCpkpXuJBSTHQW1c4gp5NUa.ch314cvao60L3lBsUEERdEY-k58
Content-Type: application/json
Cache-Control: no-cache
 
{
  "invoiceNumber": 101,
  "invoiceDate": "2014-12-31T19:17:35Z",
  "invoiceType": "order",
  "customer": {
    "link": {
      "url": "https://api.neteller.com/v1/customers/CUS_1E91F0F6-FF9A-4BE3-8487-E09114C00DFF",
      "rel": "customer",
      "method": "GET"
    }
  },
  "order": {
    "url": "https://api.neteller.com/v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa",
    "rel": "order",
    "method": "GET"
  },
  "status": "paid",
  "totalAmount": 3599,
  "currency": "EUR",
  "links":
  [
    {
      "url": "https://api.neteller.com/v1/orders/ORD_2ed9d95b-3361-4144-b702-64010c1afdfa/invoice",
      "rel": "self",
      "method": "GET"
    },
    {
      "url": "https://api.neteller.com/v1/payments/298420053918144",
      "rel": "payment",
      "method": "GET"
    }
  ]
}
```

If the order was not completed and/or the customer abandoned their checkout, then no invoice will be found.

```apib
GET /v1/orders/ORD_2d8ab7f0-dc97-472f-96c7-16b4488fab35/invoice HTTP/1.1
Host: api.neteller.com
Authorization: Bearer 0.AQAAAUpkXyaoAAAAAAA27oBNGVPlEe3DZ5kPbUwaUvXU.sybYAd-Wzg3o5IAhhz7ErotMjeI
Content-Type: application/json
Cache-Control: no-cache
 
{
  "error": {
    "code": "5269",
    "message": "Entity not found"
  }
}
```

***

# HTTP Responses

HTTP response codes are used to indicate the status of a request.To ease integration and support for developers 
integrating to our APIs, the error messages that are returned should be verbose enough to correct the problem.  
The error structure contains a 4–5 digit code as well as a human readable message. Additionally, the application 
error code will be returned in the header so it can be easily used by an application without parsing the body.

**HTTP Status Code Summary**

HTTP Response Code Category|Description
---|---
1xx: Informational|Communicates transfer protocol–level information
2xx: Success|Indicates that the client’s request was accepted
3xx: Redirection|Indicates that the client must take some additional action in order to complete the request
4xx: Client Error|Indicates that the client has made an error with the request
5xx: Server Error|Indicates that an error occurred on the server side

**Common HTTP Response Status Codes**

HTTP Status Code|Description
---|---
200 OK|Everything worked as expected
201 CREATED|The request was successful. NETBANX created a new resource and the response body contains the representation
202 ACCEPTED|This indicates that the client’s request will be handled asynchronously. It tells the client that the request appears valid, but it still may have problems once it is processed
204 NO CONTENT|This is usually returned in response to a PUT, POST, or DELETE request, when the REST API declines to send back any status message or representation in the body of the response message
304 NOT MODIFIED|The client's cached version of the representation is still up to date
400 BAD REQUEST|This often indicates that a required parameter is missing or that a parameter is invalid. This is a generic client-side error status, used when no other 4xx error code is appropriate
401 UNAUTHORIZED|This indicates that the client tried to operate on a protected resource without providing the proper authorization. They may have provided the wrong credentials or none at all
402 PAYMENT REQUIRED|The parameters were valid but the request failed
404 NOT FOUND|The requested resource does not exist
405 METHOD NOT ALLOWED|The client tried to POST or PUT to a resource that would not accept it
415 UNSUPPORTED MEDIA TYPE|The request is in a format not supported by the requested resource for the requested method
429 TOO MANY REQUESTS|The application is sending too many simultaneous requests
500 INTERNAL SERVER ERROR|An error occurred with an internal server
502 EXTERNAL SERVER ERROR|We received an invalid response from the upstream gateway in attempting to fulfill the request

**Error Attributes**

Element|Type|Description
---|---|---
Element|Type|Description
code|String|This is the error code
message|String|This is a description of the error
details|Array|This is a detailed description
fieldErrors|Array|This is a list of fields that have problems

**Error message example with details**

```apib
    {
        "error": {
            "code": "5023",
            "message": "Bad request",
            "details": [
                "Illegal unquoted character ((CTRL-CHAR, code 10)): has to be escaped using backslash to be included in string value at  [line: 2, column: 61]"
            ]
        }
    }
```
 
 
**Error message example with field errors**

```apib
    {
       "error":{
          "code":5068,
          "message":"Field Error(s)",
          "fieldErrors":[
             {
                "field":"recipientEmail",
                "error":"john@hi@you.c.c.c.c is not a valid e-mail address."
             },
             {
                "field":"transaction.amount",
                "error":"A transaction amount is required."
             },
             {
                "field":"transaction.currency",
                "error":"Currency with value [USD] exceeds the maximum size of [3]."
             }
          ],
          "details":[
               "There are invalid or missing fields in your request."
            ]
       }
    }
```

## Error Codes

These are the error codes common to all subsystems

HTTP Status   |Code     |Message                                 |Description
---           |---      |---                                     |---
400           |5001     |Invalid currency                        |The submitted currency code is invalid or your account does not support this currency.
              |5010     |Invalid country                         |The submitted country code is invalid.
              |5016     |Account not found                       |The account you provided cannot be found.
              |5017     |Account disabled                        |The account you provided is disabled.
              |5023     |Bad request                             |The request is not parseable.
              |5042     |Invalid merchant reference              |This error usually indicates that a transaction was attempted with the merchant reference field missing. This value is mandatory and must be included with your request.
              |5068     |Invalid field                           |Either you submitted a request that is missing a mandatory  field or the value of a field does not match the format expected.
401           |5275     |Authentication credentials expired      |The authentication credentials provided with the request have expired.
              |5276     |Authentication credentials disabled     |The authentication credentials provided with the request provided have been disabled.
              |5277     |Authentication credentials locked       |The authentication credentials provided with the request have been locked due to multiple authentication failures.
              |5278     |Cannot authenticate                     |The authentication credentials provided with the request were not accepted for an unknown reason.
              |5279     |Authentication credentials are invalid  |The authentication credentials are invalid.
              |5280     |Authentication credentials not provided |The required authentication credentials were not provided.
403           |5270     |Unauthorized access                     |The credentials provided with the request do not have permission to access the requested data.
404           |5269     |Entity not found                        |The ID\(s\) specified in the URL do not correspond to the values in the system.
              |5273     |URI not found                           |Your client reached our application but we were unable to service your request due to an invalid URL.
405           |5281     |Method not supported                    |The request uses an action (e.g., GET, POST, or PUT) that is not supported by the resource.
406           |5271     |Unsupported 'Accept' header             |You requested a response in the 'Accept' header that is in an unsupported format.
415           |5272     |Unsupported 'Content-Type'              |The 'Content-Type' you specified in request header was submitted in an unsupported format.
429           |1200     |API call rate exceeded                  |The API call has been denied as it has exceeded the permissible call rate limit.
500           |1000     |Internal error                          |An internal error occurred.
              |1001     |Activity Timed Out                      |Your request timed out before it could be completed.  If you receive this error, it is still possible that your request will be successfully processed and you should use the API to verify the status of your request.
              |1002     |Database Error                          |An internal error occurred.
              |1003     |Decryption Error                        |An internal error occurred.
              |1007     |Gateway Error                           |An internal error occurred.

These errors are specific to the NETELLER REST API.

HTTP Status |Code   |Message                            |Description
---         |---    |---                                |---
401         |20000  |Unsupported API request            |You are not registered to use this API
401         |20001  |Account closed                     |The account is closed
400         |20002  |Merchant account inactive          |Your merchant account is currently inactive.
400         |20003  |Invalid merchant account currency  |Your NETELLER Merchant Account does not support this currency.
400         |20005  |Duplicate transaction reference    |The provided transaction reference has already been used for another transaction.  You must provide a unique value for each request.
400         |20006  |Invalid amount format              |Amount must be numeric and cannot contain decimals or any alpha characters.
400         |20007  |Invalid accountId or email         |The specified accountId or email is invalid.
400         |20008  |Invalid verification code          |The supplied verification code was not valid for this request.
400         |20009  |Invalid customer                   |The supplied customerId is invalid.
400         |20010  |Merchant blocked geolocation       |Member is residing in a blocked country/state/region \(merchant has chosen to block members from transacting in that location\)
400         |20011  |NETELLER blocked geolocation       |Member is residing in a NETELLER blocked country/state/region.
400         |20015  |Member is not entitled             |Member is not entitled to receive this type of transaction.
400         |20016  |Merchant is not entitled           |Merchant is not entitled to initiate this type of transaction.
402         |20020  |Insufficient balance               |Insufficient balance to complete the transaction.
400         |20021  |Below member min transfer amount   |The specified amount is below defined minimum transfer limits.
400         |20022  |Above max transfer out amount      |The specified amount is above defined maximum transfer out limits.
400         |20025  |Below merchant min transfer amount |The specified amount is below your defined minimum transfer limits.
400         |20026  |Above max transfer in amount       |The specified amount is above defined maximum transfer in limits.
400         |20030  |Below min transaction limit        |The specified amount is too low. You must specify an amount greater than or equal to 1 unit of currency.
400         |20031  |Above max transaction limit        |The specified amount is too high. You must specify an amount within your transactional limit.
400         |20035  |Above max account limit            |The transaction exceeds allowed account limits.
400         |20040  |Expired                            |The transaction was not completed in the permitted time and has expired.
400         |20045  |Merchant declined                  |Transaction was manually cancelled or declined by the merchant.
400         |20050  |Legacy transaction details not available from this API, use NetCheck |The transaction you are trying to retrieve was submitted using the legacy NetDirect or Instant Payout API.  Please use NetCheck to retrieve the associated error detail for the transaction.
400         |20100  |Plan already exists                |The requested planId has already been used.  Please specify a unique planId with your request.
400         |20101  |Cannot delete a subscribed to plan |You cannot delete a subscription plan that has already been subscribed to.   If you wish to prevent further enrollment in this plan then you must cancel the plan.
400         |20102  |Invalid term length                |The term length for this subscription plan is invalid.  Please ensure the interval, interval type and interval count combination is less than 5 years.
400         |20200  |Existing member email              |The supplied email is already registered with NETELLER. 
502         |20300  |Processor declined                 |The third party processor has declined the transaction.
400         |20301  |NETELLER declined                  |NETELLER has declined to process the transaction.
401         |20900  |Request not authorized             |Your request was not authorized as the API requires member authorization.  Please use the authorization_grant flow to obtain member permission for the required scope.
503         |20999  |Service unavailable due to scheduled maintentance |The API is currently unavailable due to maintenance activities.

***

# Complex JSON Objects

<a name="accountPreferences"></a>

## accountPreferences

Element                 |Type                   |Description
---                     |---                    |---
lang                    |string<br/>`length=5`  |The preferred language of the member. See [Languages](#languages) for complete list.
currency                |string<br/>`length=3`  |The preferred wallet currency of the member. See [Currencies](#currencies) for complete list.

```apib
{
  "lang": "en_US",
  "currency": "EUR"
}
```

<a name="accountProfile"></a>

## accountProfile

Element                 |Type                                           |Description
---                     |---                                            |---                  
email                   |string<br/>`length<=100`                       |The account email address.
accountId               |string<br/>`length=15`                         |The 12 digit NETELLER account number.
firstName               |string<br/>`length<=25`                        |`required scope: account_basic_profile`<br/>The clients first name, or given name.
lastName                |string<br/>`length<=25`                        |`required scope: account_basic_profile`<br/>The clients last name, or family name.
address1                |string<br/>`length<=35`                        |`required scope: account_enhanced_profile`<br/>|The clients residential, or street address.
address2                |string<br/>`length<=35`                        |`required scope: account_enhanced_profile`<br/>|Continuation of the clients residential, or street address.
address3                |string<br/>`length<=35`                        |`required scope: account_enhanced_profile`<br/>|Continuation of the clients residential, or street address.
city                    |string<br/>`length<=50`                        |`required scope: account_enhanced_profile`<br/>|The clients city of residence.
countrySubdivisionCode  |string<br/>`length=2`                          |`required scope: account_enhanced_profile`<br/>|The ISO 3166-2 code indicating the state/province/district or other value denoting the clients country subdivision \(e.g. BE=Berlin. 13=Tôkyô \[Tokyo\], AB=Alberta\)
country                 |string<br/>`length=2`                          |`required scope: account_basic_profile`<br/>|The ISO 3166-1 Alpha 2-code for the clients country of residence \(e.g. Germany = DE, JP=Japan. CA=Canada\).
postCode                |string<br/>`length<=10`                        |`required scope: account_enhanced_profile`<br/>|The zip code, or postal code, of the clients residence.
contactDetails          |array of [contactDetail](#contactDetail)       |`required scope: account_contacts`<br/>An array of contact numbers.  Can accept up to 2 phone numbers, the first number will be considered primary. Phone numbers should contain no special characters.
gender                  |string<br/>`length=1`                          |`required scope: account_enhanced_profile`<br/>m - male, f - female
dateOfBirth             |[date](#date)                                  |`required scope: account_basic_profile`<br/>The clients date of birth.
accountPreferences      |[accountPreferences](#accountPreferences)      |`required scope: account_enhanced_profile`<br/>The clients preferred language, currency.

```apib
{
    "email": "jsmith@email.com",
    "accountId": "451234567890",
    "firstName": "John",
    "lastName": "Smith",
    "address1": "addressline1",
    "address2": "addressline2",
    "address3": "addressline3",
    "city": "Calgary",
    "countrySubdivisionCode": "",
    "postCode": "T8A22J",
    "contactDetails": [
        {
            "type": "landLine",
            "value": "14032332333"
        },
        {
            "type": "mobile",
            "value": "14035552333"
        }
    ],
    "gender": "m",
    "dateOfBirth": {
        "year": "1975",
        "month": "01",
        "day": "31"
    },
    "accountPreferences": {
        "lang": "en",
        "currency": "EUR"
    }
}
```

<a name="attribute"></a>

## attribute

Element                 |Type                       |Description
---                     |---                        |---
key                     |string<br/>`length<=50`    |This is a unique identifier for an attribute.
value                   |string<br/>`length<=100`   |The value for this attribute.

```apib
{
    "key": "affiliate_code",
    "value": "test12345"
}
```

<a name="balance"></a>

## balance

Element                 |Type                       |Description
---                     |---                        |---
amount                  |string<br/>`length<=100`   |The amount in the smallest unit of currency.
currency                |string<br/>`length<=15`    |The associated currency.

```apib
{
    "amount": 3242,
    "currency": "EUR"
}
```

<a name="billingDetail"></a>

## billingDetail

Element                 |Type                       |Description
---                     |---                        |---                
email                   |string<br/>`length<=100`   |The account email address.
firstName               |string<br/>`length<=25`    |The clients first name, or given name.
lastName                |string<br/>`length<=25`    |The clients last name, or family name.
address1                |string<br/>`length<=35`    |The clients residential, or street address.
address2                |string<br/>`length<=35`    |Continuation of the clients residential, or street address.
address3                |string<br/>`length<=35`    |Continuation of the clients residential, or street address.
city                    |string<br/>`length<=50`    |The clients city of residence.
countrySubdivisionCode  |string<br/>`length=2`      |The ISO 3166-2 code indicating the state/province/district or other value denoting the clients country subdivision \(e.g. BE=Berlin. 13=Tôkyô \[Tokyo\], AB=Alberta\)
country                 |string<br/>`length=2`      |The ISO 3166-1 Alpha 2-code for the clients country of residence \(e.g. Germany = DE, JP=Japan. CA=Canada\)
postCode                |string<br/>`length<=10`    |The zip code, or postal code, of the clients residence.
lang                    |string<br/>`length=5`      |The preferred language of communication. See [Languages](#languages) for complete list.

```apib
{
    "email": "jsmith@email.com",
    "firstName": "John",
    "lastName": "Smith",
    "address1": "addressline1",
    "address2": "addressline2",
    "address3": "addressline3",
    "city": "Calgary",
    "countrySubdivisionCode": "AB",
    "postCode": "T8A22J",
    "lang": "en"
}
```

<a name="contactDetail"></a>

## contactDetail 

Element                 |Type                       |Description
---                     |---                        |---
type                    |string<br/>`length<=10`    |landLine, mobile  ** The values are case sensitive.
value                   |string<br/>`length<=30`   |The dialing number or recipients id.  Do not include the country code in the dialing number.

```apib
{
    "type": "landLine",
    "value": "4039971234"
}
```

<a name="customer"></a>

## customer

Element                 |Type                              |Description
---                     |---                               |---
customerId              |string<br/>`length<=100`          |Unique identifier for this customer.`ie. CUS_0d676b4b-0eb8-4d78-af25-e41ab431e325`
accountProfile          |[accountProfile](#accountprofile) |The associated account profile.
verificationLevel       |string<br/>length=2               |**00** - Member has not been verified, no verified payment instruments<br/>**01** - Member has not been verified, has one or more verified payment instruments<br/>**10** - Member is verified, no verified payment instruments<br/>**11** - Member is verified, has one or more verified payment instruments
availableBalance        |[balance](#balance)               |`required scope: account_available_balance`<br/>The members currently available balance.

```apib
{
    "customerId": "CUS_0d676b4b-0eb8-4d78-af25-e41ab431e325",
    "accountProfile": {
        "email": "jsmith@email.com",
        "accountId": "451234567890",
        "firstName": "John",
        "lastName": "Smith",
        "country": "US",
        "dateOfBirth": {
            "year": "1975",
            "month": "01",
            "day": "31"
        }
    },
    "verificationLevel": "01"
}
```

<a name="date"></a>

## date

Element     |Type                       |Description
---         |---                        |---
year        |string<br/>`length=4`      |4 digit year, YYYY
month       |string<br/>`length=2`      |2 digit month, MM
day         |string<br/>`length=2`      |2 digit day, DD

```apib
{
   "year": "1975",
   "month": "01",
   "day": "31"
}
```

<a name="error"></a>

## error

Element                 |Type                                |Description
---                     |---                                 |---
code                    |string<br/>`length<=100`            |The error code reflecting the reason for the failed request.
message                 |string<br/>`length<=250`            |Short description of the status.
fieldErrors             |array of [fielderror](#fielderror)  |If applicable, details around particular fields that reported errors with the API request.

```apib
{
    "code": "5018",
    "message": "FieldErrors",
    "fieldErrors": [
        {
            "field": "fieldA",
            "error": "missing required value"
        },
        {
            "field": "fieldC",
            "error": "missing required value"
        }
    ]
}
```

<a name="event"></a>

## event

Element                 |Type                     |Description
---                     |---                      |---
mode                    |string<br/>`length<=10`  |test - denotes this is a test webhook notification that was manually triggered<br/>live - this is a live production webhook notification
eventDate               |string<br/>`length<=50`  |The date the event occurred. <br/>ISO 8601 format \(UTC\)<Br/>YYYY-MM-DDThh:mm:ssZ
eventType               |string<br/>`length<=50`  |The specific type of event that occurred.
attemptNumber           |string<br/>`length<=50`  |The current attemptNumber for this notification.  This will increment until we receive a HTTP 200 response on send, or until all retries have been exhausted.
key                     |string<br/>`length<=55`  |The optional secret key that you defined with your webhook.  This should be validated within your integration for added security.
links                   |array of [link](#link)   |Associated HATEOAS links for this event.  Use these links to lookup the details for this event.

```apib
{
     "mode": "test",
     "eventDate": "2014-01-01T00:00:00Z",
     "eventType": "subscription_payment_succeeded",
     "attemptNumber": 1,
     "links": [
         {
             "url": "https://api.neteller.com/v1/payments/434632223423",
             "rel": "payment",
             "method": "GET"
         },
         {
             "url": "https://api.neteller.com/v1/subscriptions/234234224/invoices/99102",
             "rel": "invoice",
             "method": "GET"
         }
     ]
 }
```

<a name="fee"></a>

## fee

Element                 |Type                       |Description
---                     |---                        |---
feeName                 |string<br/>`length<=50`    |The name that will display in history and invoice details for this fee item.  \(ie: Setup Fee, Shipping & Handling Fee...etc\).
feeType                 |string<br/>`length<=100`   |The type of fee. `ie: service_fee`
feeAmount               |number<br/>`length<=10`    |The fee amount that was deducted.<br/>Amount fields reflect the smallest unit of currency with no decimals. Eg. $25.00 USD should be formatted as 2500.
feeCurrency             |string<br/>`length<=3 `    |The currency the fee is in. See [Currencies](#currencies) for complete list.

```apib
{
   "feeName": "Setup Fee",
   "feeType": "service_fee",
   "feeAmount": 50,
   "feeCurrency": "USD"
}
```

<a name="fielderror"></a>

## fieldError

Element                 |Type                       |Description
---                     |---                        |---
field                   |string<br/>`length<=100`   |Identifies the JSON request field.
error                   |string<br/>`length<=250`   |The problem associated with field.

```apib
{
    "field": "transaction.accountProfile.email",
    "error": "Required field"
}
```

<a name="invoice"></a>

## invoice

Element                 |Type                                         |Description
---                     |---                                          |---
invoiceId               |string<br/>`length<=50`                      |Unique identifier for this invoice. \(ie: INV_259e0052-a345-48e9-835c-4f6a8dcaeeb9\).
invoiceNumber           |string<br/>`length<=30`                      |Sequential invoice number.
invoiceDate             |string<br/>`length<=20`                      |Date the invoice was created \(first issued\).<br/>ISO 8601 format \(UTC\)<br/>YYYY-MM-DDThh:mm:ssZ
invoiceType             |string<br/>`length<=15`                      |**subscription** - invoice is auto created from subscription billing<br/>**order** - invoice is manually created through a create order api request
billingDetails          |array of [billingDetail](#billingdetail)     |The associated billing details for this invoice.
subscription            |[subscription](#subscription)                |The corresponding subscription resource this invoice belongs to<br/>** Only applicable for subscription invoices
order                   |[order](#order)                              |The corresponding order resource this invoice belongs to<br/>** Only applicable for order invoices
status                  |string<br/>`length<=15`                      |**payment\_due** - Indicates that a due payment has not yet been collected and will be re-tried<br/>**paid** - Indicates the payment was successful<br/>**not\_paid** - Indicates the payment was not collected and all attempts to collect payment failed
periodStartDate         |string<br/>`length<=20`                      |Date the period for this invoice started<br/>ISO 8601 format \(UTC\)<br/>YYYY-MM-DDThh:mm:ssZ<br/>** Only applicable for subscription invoices
periodEndDate           |string<br/>`length<=20`                      |Date the period for this invoice ended<br/>ISO 8601 format \(UTC\)<br/>YYYY-MM-DDThh:mm:ssZ<br/>** Only applicable for subscription invoices
totalAmount             |number<br/>`length<=10`                      |The total amount due reported in the smallest unit of currency \(no decimals\).
currency                |string<br/>`length=3`                        |The currency for the amount due.<br/>see Currencies for complete list
[...]
